#welcome{
	background-color:black;
	text-align:center;
	color:yellow;
	padding-bottom: 1px;
	
		
}

/* Style elements for the intial screen after login */


#uploads{
	background-color:black;
	text-align:center;
	color:yellow;
	width:20%;
	margin-left:50px; 
	margin-top:30px;
	
 	
	padding-top: 1px;
    padding-right: 70px;
    padding-bottom: 1px;
	padding-left: 40px;
	padding-right:100px;
	
	
	
	
		
}

#grades{
	background-color:blue;
	text-align:center;
	color:yellow;
	width:20%;
	
	margin-left:50px; 
	
	
 	
	padding-top: 1px;
    padding-right: 70px;
    padding-bottom: 1px;
	padding-left: 40px;
	padding-right:100px;
	
	
	

	
		
}

#messages{
	background-color:red;
	text-align:center;
	color:yellow;

	width:20%;
	margin-left:50px;
	

	padding-top: 1px;
    padding-right: 70px;
    padding-bottom: 1px;
    padding-left: 40px;
	padding-right:100px;
	
	
	
		
}

#calendar{
	background-color:purple;
	text-align:center;
	color:yellow;

	width:20%;
	margin-left:50px;
	margin-left:50px; 
	
	
 	
	padding-top: 1px;
    padding-right: 70px;
    padding-bottom: 1px;
    padding-left: 40px;
	padding-right:100px;
	
	
		
}

#selector{
	background-color:green;
	text-align:left;
	color:blue;
	
	margin-top:30px;
	margin-left:354px;
	width:70%;
	padding-bottom:30%;
	padding-top: 1px;
	
	
	/*display:right;*/
	
	
	
	
	
		
}

#body{
padding-bottom: 1px;
	padding-top: 1px;
	padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 40px;
    padding-left: 1px;
	background-color:yellow;
	text-align:right;
	

	
	
		
}

#block{

float:left;
margin-left:100px;

/*float:left;*/
	
}


<!-- Style elemeents for the login screen -->

#login_form{
	background-color:white;
	padding-top:1px;
	
}

#username{
	background-color: black;
	color: yellow;
	text-align:center;
	width:60%;
	padding-top:1px;
	margin-left:20%;
	margin-right:20%;
	
}

#password{
	background-color: black;
	color: yellow;
	text-align:center;
	width:60%;
	margin-left:20%;
	margin-right:20%;
}



#extra_space{
color:black;
background-color:black;
width:auto;
padding-bottom:25px;
padding-top:5px;
text-align:center;

}

